@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@500;700&family=Nunito+Sans:wght@200;300;400;600;700&family=Peralta&family=Poppins:wght@300;500;600&display=swap');

.App {
  font-family: 'League Spartan', sans-serif;
  margin: 5rem;
}

.bg-header img {
  background-color: hsl(180, 8%, 52%);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
  z-index: 1;
}

@media (max-width:529px) {
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}